<tr>
    <td>{{classTime}}</td>
    <td>{{classname}}</td>
    <td>{{instructor}}</td>
    <td>{{location}}</td>
    {{#if logged_in}}
    <button>Sign Up</button>
    {{/if}}
    <a href="#">model goes here</a>
</tr>