<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="/">express.gym
        <img rel="icon" type="image/png" src="/images/img.png" width="60" height="60" alt="hey"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse row">
        <ul class="navbar-nav mx-auto text-center justify-space-around">
            <li class="nav-item active col-3">
                <a class="nav-link" href="/home">LOCATIONS</a>
            </li>

            <li class="nav-item active col-3">
                <a class="nav-link" href="/amenities">AMENITIES</a>
            </li>
            <li class="nav-item active col-3">
                <a class="nav-link" href="/profile">ACTIVITY SCHEDULE</a>
            </li>
        </ul>
    </div>
    {{#if logged_in}}
        <button class="no-button" id='logout'>Logout</button>
    {{else}}
        <a class="login" href="/login">Login</a>
    {{/if}}


</nav>
