
    <img src="https://media.istockphoto.com/photos/3d-rendering-wood-modern-fitness-center-in-summer-picture-id656061990?k=20&m=656061990&s=612x612&w=0&h=BrucwRbEkKoI3gYYe_gFBff96iyRPZOYtuOsSValX0Y=" class="w-100 border-bottom" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text"></p>
    </div>
<!--    look up icons for the pin location, email and phone number**-->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi bi-geo-alt-fill"></i> {{address}}</li>
        <li class="list-group-item"><i class="bi bi-telephone-fill"></i> {{phone_number}} </li>
        <li class="list-group-item"><i class="bi bi-envelope-fill"></i> {{email}}</li>
        <li class="list-group-item">
            Monday: 6am - 8 pm<br>
            Tuesday: 6am - 8 pm<br>
            Wednesday: 6am - 8 pm<br>
            Thrusday: 6am - 8 pm<br>
            Friday: 6am to 6pm<br>
            Saturday: 9am - 4pm<br>
            Sunday: 9am - 4pm</li>
    </ul>
    <div class="card-footer">
        <a href="/vip" class="card-link">Sign Up for VIP Membership</a>
<!--        <a href="#" class="card-link">Another link</a>-->
    </div>

