
    <img src="https://media.istockphoto.com/photos/3d-rendering-wood-modern-fitness-center-in-summer-picture-id656061990?k=20&m=656061990&s=612x612&w=0&h=BrucwRbEkKoI3gYYe_gFBff96iyRPZOYtuOsSValX0Y=" class="w-100 border-bottom" alt="...">
    <div class="card-body">
        <h5 class="card-title">Your Local Gym</h5>
        <p class="card-text"></p>
    </div>
<!--    look up icons for the pin location, email and phone number**-->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi bi-geo-alt-fill"></i> 1234 William Cannon Rd</li>
        <li class="list-group-item"><i class="bi bi-telephone-fill"></i> 512-EXP-RESS </li>
        <li class="list-group-item"><i class="bi bi-envelope-fill"></i> Contact@ExpressGym.com</li>
        <li class="list-group-item">
            Mon - Thu = 6am - 8 pm<br>
            Friday = 6am to 6pm<br>
            Sat & Sun = 9am - 4pm</li>
    </ul>
    <div class="card-footer">
        <a href="/vip" class="card-link">Sign Up for VIP Membership</a>
<!--        <a href="#" class="card-link">Another link</a>-->
    </div>

