<tr>
    <th></th>
    <td>{{instructor}}</td>
    <td colspan="2">
        <div class="">
            <div class="cell py-1" data-id="{{id}}">{{format_time time}}</div>
        </div>
    </td>
</tr>