<!--icons to use for amenities-->
<!--https://www.flaticon.com/free-icons/gym-->
<!--https://github.com/resolvetosavelives/healthicons/tree/main/public/icons/svg/outline-->
<!--Pool  PoolCardio Equipment  Cardio EquipmentRacquetball Courts  Racquetball CourtsGroup Exercise  Group ExercisePersonal Training  Personal TrainingSmoothie Bar  Smoothie BarResistance Machines  Resistance MachinesKids Club  Kids ClubWomen Only Workout Area  Women Only Workout AreaCardio Cinema®  Cardio Cinema®Free Weights  Free WeightsWiFi  WiFi-->
<div class="flex-row justify-content-center m-4 p-4">
    <div class="row container">
        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-lock-fill"></i> Locker Rooms</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-water"></i> Sauna/Steam Room</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-lock-fill"></i> Free Weights</p>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-lock-fill"></i> Towel Service</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-gender-female"></i> Women Only Workout Area</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-clipboard"></i> Personal Training</p>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-water"></i> Lap Pool</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-cup-straw"></i> Smoothie Bar</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-lock-fill"></i> Yoga Classes</p>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-wifi"></i> WiFi</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-dribbble"></i> Basketball Courts</p>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-calendar-week-fill"></i> Free Classes</p>
            </div>
        </div>
    </div>
</div>