<!--icons to use for amenities-->
<!--https://www.flaticon.com/free-icons/gym-->
<!--https://github.com/resolvetosavelives/healthicons/tree/main/public/icons/svg/outline-->
<!--Pool  PoolCardio Equipment  Cardio EquipmentRacquetball Courts  Racquetball CourtsGroup Exercise  Group ExercisePersonal Training  Personal TrainingSmoothie Bar  Smoothie BarResistance Machines  Resistance MachinesKids Club  Kids ClubWomen Only Workout Area  Women Only Workout AreaCardio Cinema®  Cardio Cinema®Free Weights  Free WeightsWiFi  WiFi-->
<div class="row container">
    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Pool</p>
        </div>
    </div>

    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Pool Cardio Equipment</p>
        </div>
    </div>
</div>

<div class="row container">
    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Cardio Equipment</p>
        </div>
    </div>

    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Racquetball Courts</p>
        </div>
    </div>
</div>

<div class="row container">
    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Cardio Equipment</p>
        </div>
    </div>

    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Racquetball Courts</p>
        </div>
    </div>
</div>

<div class="row container">
    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Cardio Equipment</p>
        </div>
    </div>

    <div class="card col-6">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Racquetball Courts</p>
        </div>
    </div>
</div>