<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <h3>Your Gym</h3>
                <h3>Gym Location</h3>
                <p>Gym address</p>
                <p>gym phone number</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-9">
            <div>
                <div>
                    <button>Mon</button>
                    <button>Tue</button>
                    <button>Wed</button>
                    <button>Thur</button>
                    <button>Fri</button>
                    <button>Sat</button>
                    <button>Sun</button>
                </div>

                <table>
                    <tr>
                        <th>Class Day/Time</th>
                        <th>Class Name</th>
                        <th>Instructor</th>
                        <th>Location</th>
                    </tr>
                    <tr>
                        {{#each classes as |class|}}
                            {{>class}}
                        {{/each}}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
