
<div class="container-fluid display-flex align-center">

    <div class="row m-4">
        <div class="box col-lg-3">
            <div class="card">
                {{> sidebar}}
            </div>
        </div>
        <div class="container-fluid col-xs-12 col-sm-12 col-lg-9 px-0 px-sm-4 mx-auto">
            <div class="text-center m-4">
                <h2>Sign up for a FREE class today!</h2>
            </div>
            <div class="row justify-content-center mx-0">
                <div class="col-lg-10">
                    <div class="card border-0">
                        <form autocomplete="off">
                            <div class="card-header bg-dark">
                                <div class="mx-0 mb-0 justify-content-start px-1">
                                    <input type="text" id="dp1" class="datepicker" data-provide="datepicker"
                                        placeholder="Pick Date" name="date" />
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Activity</th>
                                        <th scope="col">Instructor</th>
                                        <th colspan="2">Times</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each activities as |activity|}}
                                    {{> activities}}
                                    {{/each}}                                    
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/reserveClass.js"></script>