{{!-- <div class="card">
    <h2>Member Login</h2>
    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
        </div>
        <a href="/signup">Sign up instead</a>
    </form>
</div> --}}
<div class="col-md-7 col-lg-6">
    <h2>Member Login</h2>
    <form action="#">
        <div class="row">

            <!-- Email Address -->
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Email
                    </span>
                </div>
                <input id="email" type="email" name="email" placeholder="Email Address"
                    class="form-control bg-white border-left-0 border-md">
            </div>
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Password
                    </span>
                </div>
                <input id="password" type="password" name="password" placeholder="Password"
                    class="form-control bg-white border-md border-left-0 pl-3">
            </div>
            <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
        </div>
            <a href="/forgotpassword">Forgot Your Password</a>
            <a href="/signup">Signup Instead</a>
        </div>
    </form>
</div>