
<div class="col-md-offset-3 col-md-6 col-lg-6 mx-auto">

    <h2>Member Login</h2>
    <form class="login-form">
        <div class="row">
            <!-- Email Address -->
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                </div>
                <input id="email" type="email" name="email" placeholder="Email Address"
                       class="form-control bg-white border-md"/>
            </div>
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                </div>
                <input id="password" type="password" name="password" placeholder="Password"
                       class="form-control bg-white border-md pl-3"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/forgotpassword">Forgot My Password</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6"> Not Registered Yet? Sign Up for
                    <a href="/signup">FREE</a>
                </div>
            </div>
        </div>
    </form>
    </br>
    </br>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/login.js"></script>