<div class="text-center m-4">
    <h2>Forgot Password</h2>
</div>

<div class="row">
    <div class="input-group col-md-6 mb-4">
        <div class="input-group-prepend">
        </div>
        <input id="password" type="password" name="password" placeholder="Password"
            class="form-control bg-white border-md pl-3" />
    </div>
    <div class="input-group col-md-6 mb-4">
        <div class="input-group-prepend"></div>
        <input id="password" type="password" name="password" placeholder="Re-Enter your Password"
            class="form-control bg-white border-md pl-3" />
    </div>
</div>

<script src="/js/newPassword.js"></script>