<div class="card col-10">
  <div class="card-header">
    Classes registered
  </div>
  {{#each timeslots as |timeslot|}}
  <div class="card-body">
    {{!-- class names go here --}}
    <h5 class="card-title">{{timeslot.activity_id}}</h5>
    {{!-- class time goes here --}}
    <p class="card-text">{{timeslot.time}}</p>
    <p class="card-text">timeslot goes here</p>
  </div>
  {{/each}}
</div>

<script src="/js/profile.js"></script>