<div class="card col-10">
  <div class="card-header">
    Classes registered
  </div>
  {{#each classes as |class|}}
  <div class="card-body">
    {{!-- class names go here --}}
    <h5 class="card-title">Special title treatment</h5>
    {{!-- class time goes here --}}
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  {{/each}}
</div>

<script src="/js/profile.js"></script>