<div class="card col-10">
  <div class="card-header">
    Classes registered
  </div>
  {{#each user.booked_timeslots as |timeslot|}}
  <div class="card-body">
    {{!-- class names go here --}}
    <h5 class="card-title">{{activity.name}}</h5>
    {{!-- class time goes here --}}
    <p class="card-text">{{time}}</p>
    <p class="card-text">{{instructor}}</p>
  </div>
  {{/each}}
</div>

<script src="/js/profile.js"></script>