<h2>Signup</h2>
<div class="col-md-7 col-lg-6">
    <form action="#">
        <div class="row">

            <!-- First Name -->
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        First Name
                    </span>
                </div>
                <input id="firstName" type="text" name="firstname" placeholder="First Name"
                    class="form-control bg-white border-left-0 border-md">
            </div>

            <!-- Last Name -->
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Last Name
                    </span>
                </div>
                <input id="lastName" type="text" name="lastname" placeholder="Last Name"
                    class="form-control bg-white border-left-0 border-md">
            </div>

            <!-- Email Address -->
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Email
                    </span>
                </div>
                <input id="email" type="email" name="email" placeholder="Email Address"
                    class="form-control bg-white border-left-0 border-md">
            </div>

            <!-- Phone Number -->
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Phone Number
                    </span>
                </div>
                <input id="phoneNumber" type="tel" name="phone" placeholder="Phone Number"
                    class="form-control bg-white border-md border-left-0 pl-3">
            </div>
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Date of Birth
                    </span>
                </div>
                <input id="dateOfBirth" type="text" name="dateOfBirth" placeholder="Date of Birth"
                    class="form-control bg-white border-md border-left-0 pl-3">
            </div>
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        Password
                    </span>
                </div>
                <input id="password" type="password" name="password" placeholder="Password"
                    class="form-control bg-white border-md border-left-0 pl-3">
            </div>
            <div class="form-group">
            <button class="btn btn-primary" type="submit">Signup</button>
        </div>
            <a href="/login">Login Instead</a>
        </div>
    </form>
</div>
<script src="./js/signup.js"></script>