<div class="text-center m-4">
    <h2>UPGRADE TO VIP</h2>
</div>
<!--<div class="col-md-3"> </div>-->
<div>
    <form class="upgrade-form">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                    </div>
                    <input id="email" type="email" name="email" placeholder="Email Address"
                        class="form-control bg-white border-md" />
                </div>
                 <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password"
                               class="form-control bg-white border-md pl-3" />
                </div>
                 <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        </div>
                        <input id="confirm-password" type="password" name="password" placeholder="Re-Enter your Password"
                               class="form-control bg-white border-md pl-3" />
                </div>
                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend"></div>
                    <input type="checkbox" class="checkbox" id="isVip" name="isVip" value="true" default="checked"/>
                    <label for = "isVip">Check box if you would like to upgrade to VIP</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Upgrade</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>document.getElementById("isVip").checked = true</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="./js/vip.js"></script>