/*img {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #a1a89c !important;
    background-repeat: no-repeat;
    padding: 0px !important
}
.login {
    color: #b4869f;
}

a.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(129, 63, 120, 0.8);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
    visibility: visible;
    font-family: 'Montserrat', sans-serif;
    transform: scaleX(1);
}
a.nav-link {
    font-family: 'Montserrat', sans-serif;
}
.container-fluid {
    /*padding-top: 120px !important;*/
    /*padding-bottom: 120px !important*/
    padding: 40px;
}
.box {
    display: flex;
    align-items: center;
}
.card {
    box-shadow: 0px 4px 8px 0px #435f56;
    padding-left: 0px;
    padding-right: 0px;
}
.card-footer {
    display: flex;
    text-align: center;
    justify-content: center;
}
.card.card-header {
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: center;
    background-color: #34332f;
    color: #34332f;
}
input {
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #616161 !important;
    color: black !important;
    font-size: 16px;
    letter-spacing: 1px;
    width: 180px
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0
}
input.checkbox {
    width: 25px;
    height: 25px;
}
::placeholder {
    color: black;
    opacity: 1
}

:-ms-input-placeholder {
    color: black
}

::-ms-input-placeholder {
    color: black
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.datepicker {
    background-color: #34332f !important;
    color: #fff !important;
    border: none;
    padding: 10px !important
}

.datepicker-dropdown:after {
    border-bottom: 6px solid #000
}

thead tr:nth-child(3) th {
    color: #fff !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px
}

.dow,
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #000
}

.active {
    border-radius: 6px !important;
    /*background-image: linear-gradient(#90CAF9, #64B5F6) !important;*/
    color: #000 !important;
}

.disabled {
    color: #616161 !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff !important;
    opacity: 0.8
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}

.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer
}

.cell:hover {
    border: 1px solid #3D5AFE
}

.cell.select {
    background-color: #3D5AFE;
    color: #fff
}

.fa-calendar {
    color: #fff;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
footer.nb-footer {
    background: #222;
    border-top: 4px solid #b4869f; }
footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
footer.nb-footer .about .social-media {
    margin-top: 15px;
    display: inline-block;
}
footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b4869f;
    border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
    background: #b4869f;
    color: #fff;
    border-color: #b4869f; }
footer.nb-footer .footer-info-single {
    margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b4869f;
    padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
    color: #b4869f; }
footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; }
footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }
.modal .modal-dialog {
    left: 0;
}
/*@media screen and (min-width: 768px) {*/
/*    .navbar-collapse.collapse {*/
/*        display: none;*/
/*        justify-content: center;*/
/*    }*/
/*}*/
/*ul.navbar-nav {*/
/*    justify-content: space-between;*/
/*}*/
/*.social-media {*/
/*    text-align: center;*/
/*    align-items: center;*/
/*}*/